# Ignore LaTeX build folder
_build/*
.DS_Store
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.pdfsync
*.dvi
*.ps
*.lof
*.lot
*.idx
*.ind
*.ilg
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex.gz